VITE_SUPABASE_URL=https://roverpaiyyuvlrmcefqj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJvdmVycGFpeXl1dmxybWNlZnFqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4OTI1MDc1MSwiZXhwIjoyMTA0ODI2NzUxfQ.njf35wUiU3XerTuU0IcBMw4EawOjNEK0RelsjKdKolg
VITE_RAZORPAY_KEY_ID=rzp_test_TbAyYNaUzRT0kJ
VITE_API_BASE_URL=http://localhost:3001
